ietf-interfaces:interface:
    name: {{ data['name'] }}
    type: {{ data['type'] }}
    enabled: {{ data['enabled'] }}
    ietf-ip:ipv4:
{% if data['ietf-ip:ipv4']['address'] is defined %}
      address:
{% for addr in data['ietf-ip:ipv4']['address'] %}
      - ip: {{ addr['ip'] }}
        netmask: {{ addr['netmask'] }}
{% endfor %}
{% else %}
      {{ {} }}
{% endif %}
    "ietf-ip:ipv6": {}
