Cisco-IOS-XE-ospf:router-ospf:
  ospf:
    process-id:
    - id: {{ data['pid'] }}
      network:
{% for network in data['networks'] %}
      - area: {{ network['area'] }}
        ip: {{ network['ip'] }}
        wildcard: {{ network['wildcard'] }}
{% endfor %}
      router-id: {{ data['router-id'] }}