Cisco-IOS-XE-ospf:router-ospf:
  ospf:
    process-id:
    - id: {{ ospf['pid'] }}
      network:
{% for network in ospf['networks'] %}
      - area: {{ network['area'] }}
        ip: {{ network['ip'] }}
        wildcard: {{ network['wildcard'] }}
{% endfor %}
      router-id: {{ ospf['router-id'] }}